<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<script language="javascript" src="../scripts/heliconius.js"></script>

<script language="javascript">
function queryWebservice(url,param,method)
{
	var loader=new net.ContentLoader(method,url,param,handleResults);
}

function handleResults()
{
	var v=document.parent.main_frame.getElementById("main_div");
	var txtNode = document.createTextNode(this.req.responseText); 
	v.replaceChild(txtNode,v.firstChild);
}
</script>
</head>

<body>
</body>
</html>
