<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Heliconius Website</title>
<LINK href="../css/style.css" type=text/css rel=stylesheet>
<style type="text/css">
<!--
.style2 {font-size: x-small; margin:0; padding:0;}
-->
</style>
</head>
<body>
<div style="height: 18px; margin:0; padding:0; border-top: 1px solid #777; text-align:center; background-color:#fbf2ba">
<span class="style2" >Copyright&copy; HeliconiusBase 2007</span>
</div>
</body>
</html>
