<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Heliconius Website</title>
<LINK href="../css/style.css" type=text/css rel=stylesheet>
</head>

<body>
<div class="menu_window back_color_1 fore_color_1">
<table cellpadding="5" width=100% >
<tr>
<td align=right >
<div class="button"><a href="../home.html" target="main_frame">Home</a></div>
</td> 
</tr>
<tr>
<td align=right >
<div class="button"><a href="../search_collection.html" target="main_frame">Collections</a></div>
</td>
</tr>
<tr>
<td align=right >
<div class="button"><a href="../search_hybrids.html" target="main_frame">Hybrids</a></div>
</td>
</tr>
<tr>
<td align=right >
<div class="button"><a href="../search_broods.html" target="main_frame">Broods</a></div>
</td>
</tr>
<!--
<tr>
<td align=right >
<div class="button"><a href="#">EST Database</a></div>
</td>
</tr>
-->
<tr>
<td align=right >
<!--<div class="button"><a href="#">Markers</a></div>-->
</td>
</tr>
<!--
<tr>
<td align=right >
<div class="button"><a href="#">Primers</a></div>
</td>
</tr>
<tr>
<td align=right >
<div class="button"><a href="#">Comparative Maps</a></div>
</td>
</tr>
-->
</table>

</div>

</body>
</html>
