<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Heliconius Website</title>
<LINK href="css/style.css" type=text/css rel=stylesheet>
<script src="scripts/util.js" type="text/javascript"></script>
<script src="scripts/xmltoken.js" type="text/javascript"></script>
<script src="scripts/dom.js" type="text/javascript"></script>
<script src="scripts/xpath.js" type="text/javascript"></script>
<script src="scripts/xslt.js" type="text/javascript"></script>
<script src="scripts/my_xslt.js" type="text/javascript"></script>
<script src="scripts/heliconius_xslt.js" language="javascript"></script>
<script src="scripts/heliconius.js" language="javascript"></script>

</head>

<body bgcolor="#fbf2ba">
<div class="top_window">
	<table><tr><td align=left><img src="images/header.gif" /></td><td align=right width=100%>Version: @version@<br>Built: @deploy_date@</td></tr></table>
	</div>
</body>
</html>
